@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    width: auto;
    height: 10vh;
    margin: 1vh;
    background-color: #0152c4;
    color: white;
    font-size: 25px;
}

header h1 {
    margin: auto 0;
}

main {
    display: grid;
    grid-template-columns: 1 1 1 1 1 1;
}

main section {
    margin: 1vh;
    border: 2px solid black;
    height: 22vh;
    grid-column: 2/6;
}

main aside {
    margin: 1vh;
    border: 2px solid black;
    grid-column: 1/2;
    grid-row: 1/2;
    height: 80vh;
}