@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    background-color: #f1f1f1;
}

header {
    display: flex;
    justify-content: center;
    width: auto;
    height: 10vh;
    margin: 1vh;
    background-color: #0152c4;
    color: white;
    font-size: 25px;
}

header h1 {
    margin: auto 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

main section {
    display: flex;
    justify-content: space-between;
    margin: 1vh;
    border: 2px solid black;
    height: 22vh;
    grid-column: 2/7;
}

main aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh;
    border: 2px solid black;
    grid-column: 1/2;
    grid-row: 1/2;
    height: 80vh;
}

main aside h2 {
    margin: 10px auto;
    font-size: 30px;
    text-align: center;
}

main aside input {
    width: 90%;
    height: 3.5vh;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
}

main aside button {
    width: 90%;
    padding: 0;
    height: 3vh;
    border: none;
    background-color: #006aff;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 2vh;
    letter-spacing: 2px;
    cursor: pointer;
}

#searchButton {
    margin-bottom: 2vh;
}

main aside button:hover {
    background-color: #0152c4;
    color: white;
}

/* dynamically populated CSS */
.currentWeatherTitle {
    font-size: 40px;
    margin: 1vw;
    margin-bottom: 0;
}

.currentWeatherDate {
    font-size: 40px;
    margin: 1vw;
    justify-self: flex-end;
}

.currentWeatherIcon {
    width: 5vw;
    height: 5vw;
}

.localStorageButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.localStorageButtons button {
    width: 90%;
    margin-top: 20px;
}